<html>

<head>
  <meta charset="utf-8">
  <title>DFAStatus</title>
  <link rel="stylesheet" href="css/DFAStatus.css">
</head>

<body id="DFAStatus" v-class="resize-handle: !locked">
  <div v-class="border: !locked">
    <!-- outer -->
    <div class="outer {{stats.Hide ? 'hide' : ''}}">
      <!-- innner -->
      <div class="inner">
        <div class="background"></div>
        <!-- Front -->
        <div class="front">
          <div class="box">
            <div class="name">
              <span class="header">ステータス: </span>
              <span class="value">{{stats.DutyStatus}}</span>
              <span v-if="stats.IsQueued" class="value">( </span>
              <span v-if="stats.IsQueued && stats.IsRoulette" class="value">{{stats.Wait.List}} 人待ち / </span>
              <span v-if="stats.IsQueued" class="value"> 待機時間: {{stats.Wait.Time}} 分 )</span>
            </div>
          </div>
          <div class="box">
            <div class="name">
              <span class="header">ルーレット: </span>
              <span class="value">{{stats.Roulette.Name}}</span>
            </div>
          </div>
          <div class="box">
            <div class="name">
              <span class="header">ダンジョン: </span>
              <span class="value">{{stats.Instance.Name}}</span>
            </div>
          </div>
          <!-- end of Front -->
        </div>
        <!-- end of inner -->
      </div>
      <!-- end of outer -->
    </div>
    <!-- load js -->
    <script src="js/vue-0.12.7.min.js"></script>
    <script src="js/DFAStatus.js"></script>
</body>

</html>